<a href="https://colab.research.google.com/github/blot32u/Computer-Scientists/blob/master/Copie_de_04_Devoir_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projet Spark DataFrames

Mettons rapidement en pratique vos nouvelles compétences Spark DataFrame, on vous posera quelques questions de base sur des données boursières, dans ce cas les actions Walmart des années 2012-2017.

Répondez aux questions et effectuez les tâches ci-dessous, puis soumettez-les à Moodle.

#### Utiliser le fichier walmart_stock.csv (disponible à la racine) pour répondre aux tâches ci-dessous :

#### Démarrer une Spark Session

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=c09d488e4d1ddb119231b6a0812d032a687b1695cc54831a779111435f3f81ae
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
# Initialize Spark
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .getOrCreate()

#### Charger le fichier CSV Walmart Stock. Laisser Spark deviner le schéma (type de données).

In [ ]:
!wget https://github.com/lsteffenel/pyspark-binder/raw/master/walmart_stock.csv

--2023-11-23 10:09:15--  https://github.com/lsteffenel/pyspark-binder/raw/master/walmart_stock.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/lsteffenel/pyspark-binder/master/walmart_stock.csv [following]
--2023-11-23 10:09:15--  https://raw.githubusercontent.com/lsteffenel/pyspark-binder/master/walmart_stock.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 90266 (88K) [text/plain]
Saving to: ‘walmart_stock.csv’

walmart_stock.csv   100%[===================>]  88.15K  --.-KB/s    in 0.007s

2023-11-23 10:09:16 (11.7 MB/s) - ‘walmart_stock.csv’ saved [90266/90266]

In [ ]:
#lecture du fichier
walmart_df = spark.read.format("csv").option("header", "true").load("walmart_stock.csv")

walmart_df.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

#### Quels sont les nos des colonnes ?

In [ ]:
column_names = walmart_df.columns
print(column_names)

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### Affichez le schéma.

In [ ]:
walmart_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

#### Afficher les 5 premières colonnes.

In [ ]:
# Sélection des cinq premières colonnes
selected_columns = walmart_df.columns[:5]

# Affichage des cinq premières colonnes
walmart_df.select(selected_columns).show()

+----------+------------------+------------------+------------------+------------------+
|      Date|              Open|              High|               Low|             Close|
+----------+------------------+------------------+------------------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004|
+----------+------------------+------------------+------------------+------------------+
only showing top 20 rows

#### Utiliser `describe()` pour apprendre plus sur le DataFrame.

In [ ]:
# Utilisation de describe() pour obtenir des statistiques descriptives
description = walmart_df.describe()

# Affichage des statistiques descriptives
description.show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      NULL| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      NULL|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|         10010500|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|          9994400|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Question Bonus !
#### Il y a trop de décimales pour la moyenne et l'écart type, dans le cadre de données describe(). Formatez les nombres pour qu'ils n'affichent que deux décimales. Faites attention aux types de données que .describe() renvoie. [ce lien peut vous aider](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

Si vous bloquez ici, ce n'est pas grave (question bonus), vous pouvez passer à la prochaine étape.

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.functions import format_number
formatted_description = walmart_df.select(
    col("Date"),
    format_number(col("Open").cast("double"), 2).alias("Open"),
    format_number(col("High").cast("double"), 2).alias("High"),
    format_number(col("Low").cast("double"), 2).alias("Low"),
    format_number(col("Close").cast("double"), 2).alias("Close"),
    format_number(col("Volume").cast("double"), 2).alias("Volume")
)
formatted_description.describe()

# Affichage des statistiques descriptives avec formatage

DataFrame[summary: string, Date: string, Open: string, High: string, Low: string, Close: string, Volume: string]

#### Créer un nouveau dataframe avec une colonne appelée *HV Ratio* qui est le ratio entre *High Price* et le volume de marchandises négocié dans une journée.

In [ ]:
# Création du nouveau DataFrame avec la colonne "HV Ratio"
new_walmart_df = formatted_description.withColumn("HV Ratio", col("High") / col("Volume"))

# Affichage des premières lignes du nouveau DataFrame
new_walmart_df.select("Date", "High", "Volume", "HV Ratio").show(5)

+----------+--------+-------------+--------+
|      Date|    High|       Volume|HV Ratio|
+----------+--------+-------------+--------+
|      1258|1,258.00|     1,258.00|    NULL|
|      NULL|   72.84| 8,222,093.48|    NULL|
|      NULL|    6.77| 4,519,780.84|    NULL|
|2012-01-03|   57.06|10,010,500.00|    NULL|
|2016-12-30|   90.97| 9,994,400.00|    NULL|
+----------+--------+-------------+--------+

#### Quel jour a le plus grand pic dans la colonne Price ?

#### Quelle est la moyenne de la colonne Close ?

#### Quel est le max et le min de la colonne Volume ?

#### Combien de jours la colonne Close a affiché de valeurs inférieures à 60 dollars ?

#### Quel percentage du temps la colonne High était supérieure à 80 dollars ?
#### En gros, (nombre de jours où High>80)/(nombre total de jours dans le dataset)

#### Quelle est la corrélation Pearson entre High et Volume ?
#### [Astuce](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

#### Quelle est la plus grande valeur High de l'année ?

#### Quelle est la moyenne de Close pour chaque mois (Jan, Feb, ...) ?

# Bon boulot, et n'oubliez pas de déposer votre .ipynb sur Moodle :)